[submodule "cpputils"]
	path = cpputils
	url = https://github.com/VioletGiraffe/cpputils
[submodule "github-releases-autoupdater"]
	path = github-releases-autoupdater
	url = https://github.com/VioletGiraffe/github-releases-autoupdater
