[submodule "cpputils"]
	path = cpputils
	url = https://github.com/VioletGiraffe/cpputils
[submodule "github-releases-autoupdater"]
	path = github-releases-autoupdater
	url = https://github.com/VioletGiraffe/github-releases-autoupdater
[submodule "qtutils"]
	path = qtutils
	url = https://github.com/VioletGiraffe/qtutils
[submodule "cpp-template-utils"]
	path = cpp-template-utils
	url = https://github.com/VioletGiraffe/cpp-template-utils
